node_modules
src/
.vscode/
dist/*.map
tests/
tsconfig*.json
.eslint*
README.md~
.git/
.github/
.gitignore
.prettierrc
.prettierignore
coverage/
jest.config.js
rollup.config.js
babel.config.js
examples/
docs/
*.log
.DS_Store
.env*
yarn-debug.log*
yarn-error.log*
npm-debug.log*
react-spin-carousel-0.0.3.tgz